APP_NAME="Shadow Finance"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_CA

APP_MAINTENANCE_DRIVER=file

DB_CONNECTION=sqlite
# Pour MySQL/Postgres décommentez :
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=shadow_finance
# DB_USERNAME=root
# DB_PASSWORD=

# Devise par défaut — Canada
DEFAULT_CURRENCY=CAD
DEFAULT_TIMEZONE=America/Toronto

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=

CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="noreply@shadow-finance.app"
MAIL_FROM_NAME="${APP_NAME}"

# Données boursières (Yahoo Finance = gratuit, aucune clé requise)
# Pour données étendues (Alpha Vantage) :
ALPHA_VANTAGE_API_KEY=

# Multi-tenant
TEAM_MAX_MEMBERS=5
